@using TaskApp.Business.dto;
@using TaskList.Business.Constants;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TaskApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="~/css/radioButtons.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="~/TaskApp.styles.css" asp-append-version="true" />
    <script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
    @RenderSection("JavaScript", required: false)
</head>
@{
    var pageLoaded = ViewContext.RouteData.Values["action"];
    string pageName = "null";
    if (pageLoaded != null)
    {
        pageName = pageLoaded.ToString();
    }
}
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-muted" asp-area="" asp-controller="User" asp-action="ListOfAllProjects">Projects</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole(Roles.Admin))
                        {
                            <li>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                        Admin
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item"
                                           asp-controller="Admin" asp-action="AddNewProject">
                                                Add New Project
                                            </a>
                                        </li>
                                        @switch (pageName)
                                        {
                                            case "Sprints":
                                                <li><hr class="dropdown-divider"></li>
                                                <li>
                                                    <a class="dropdown-item" style="width:auto"
                                           asp-controller="Admin" asp-action="AddNewSprint" asp-route-id="@ViewBag.currentProjectId">
                                                        Add New Sprint
                                                    </a>
                                                </li>
                                                break;

                                            case "ListOfAllTasksFromProject":
                                                <li><hr class="dropdown-divider"></li>
                                                <li>
                                                    <a class="dropdown-item" style="width:auto"
                                           asp-controller="Admin" asp-action="AddNewTaskToProject" asp-route-id="@ViewBag.currentSprintId">
                                                        Add New Task
                                                    </a>
                                                </li>
                                                break;

                                            default:
                                                break;
                                        }

                                        <li><hr class="dropdown-divider"></li>
                                        <li>
                                            <a class="dropdown-item" style="width:auto"
                                           asp-controller="Admin" asp-action="TaskBoard">
                                                Go To Board
                                            </a>
                                        </li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li>
                                            <a class="dropdown-item" style="width:auto"
                                           asp-area="Identity" asp-page="/Account/Register">
                                                Register
                                            </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-muted" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <form asp-controller="User" asp-action="ListOfAllProjects" method="get" class="px-3">
                            <div class="row">
                                <div class="col p-0">
                                    <input type="text" name="Name" class="form-control rounded" />
                                </div>
                                <div class="col col-lg-2 p-0">
                                    <input type="submit" value="search" class="btn btn-outline-primary" />
                                </div>
                            </div>
                        </form>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container">
            &copy; 2023 - TaskApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
