@using Microsoft.AspNetCore.Identity;
@using TaskApp.Business.dto;
@using TaskList.Data.Models;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model dtoTask
@{
    ViewData["Title"] = "Edit Task";
    User user = await UserManager.GetUserAsync(User);
}
@section JavaScript {
    <script src="~/js/dateTime.js"></script>
}

<div id="task-box">
    <div class="row" style="display:flex; justify-content: center; align-items: center">
        <div class="col-md-4">
            <form method="post">
                <h2 class="text-muted">@ViewData["Title"]</h2>
                <hr class="text-muted" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating mb-2">
                    <input asp-for="Name" class="form-control" autocomplete="off" aria-required="true" placeholder="name" value="@Model.Name" />
                    <label asp-for="Name"></label>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-floating mb-2">
                    <select class="form-control" asp-for="SprintId" asp-items="@(new SelectList(ViewBag.sprints,"Id","Name"))">
                        <option selected="selected">
                            @Model.SprintId
                        </option>
                    </select>
                    <label asp-for="SprintId"></label>
                    <span asp-validation-for="SprintId" class="text-danger"></span>
                </div>
                <div class="form-floating mb-2">
                    <select class="form-control" asp-for="UserId" asp-items="@(new SelectList(ViewBag.userList,"Id","Name"))">
                        <option selected="selected">
                            @Model.UserId
                        </option>
                    </select>
                    <label asp-for="UserId"></label>
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>
                <div class="form-floating mb-2">
                    <select class="form-control" asp-for="Status" asp-items="@(new SelectList(ViewBag.statusList,"Id","Name"))">
                        <option selected="selected">
                            @Model.Status
                        </option>
                    </select>
                    <label asp-for="Status"></label>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                <div class="form-floating mb-2">
                    <select class="form-control" asp-for="Score" asp-items="@(new SelectList(ViewBag.fibonacciNumbers))">
                        <option selected="selected">
                            @Model.Score
                        </option>
                    </select>
                    <label asp-for="Score"></label>
                    <span asp-validation-for="Score" class="text-danger"></span>
                </div>
                <div class="form-floating mb-2">
                    <input asp-for="DateStart" type="date" class="form-control" autocomplete="off" aria-required="true" placeholder="datestart" value="@Model.DateStart.ToString("yyyy-MM-dd")" />
                    <label asp-for="DateStart"></label>
                    <span asp-validation-for="DateStart" class="text-danger"></span>
                </div>
                <div class="form-floating mb-2">
                    <input asp-for="DateEnd" class="form-control" autocomplete="off" aria-required="true" placeholder="dateend" min="@DateTime.Now.ToString("yyyy-MM-dd HH:mm")" value="@Model.DateEnd.ToString("yyyy-MM-dd HH:mm")" />
                    <label asp-for="DateEnd"></label>
                    <span asp-validation-for="DateEnd" class="text-danger"></span>
                </div>
                <div class="form-floating mb-2">
                    <textarea asp-for="Description" class="form-control h-100" aria-required="true" placeholder="description" rows="10" value="@Model.Description"></textarea>
                    <label asp-for="Description"></label>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary mb-2">Edit</button>
                <a class="w-100 btn btn-outline-dark mb-2 text-muted" asp-area="" asp-controller="User" asp-action="ListOfAllTasksFromProject" asp-route-sprintId="@Model.SprintId" asp-route-userId="@user.Id">Cancel</a>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
